.container{
    display: flex;
    .nav-left{
        width: 15%;
        min-width: 180px;
        background-color: #001529;
        color: #ffffff;
        height: calc(100vh);
    }
    .main{
        height: calc(100vh);
        // background-color: @colorL;
        overflow: auto;
    }
    .content{
        position: relative;
        padding: 20px;
    }
}